.contenido {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 95vh;
  background-color: #3c404b;
}

input {
  background-color: #edf2f7;
  border-color: #3c404b !important;
}

#boton-login {
  background-color: #f16858;
  border-color: #3c404b;
  color: white;
}

#boton-crear-cuenta {
  background-color: white;
  border-color: #023b49 !important;
  color: #2a4365;
}

label {
  color: #2a4365;
}

#label-olvidaste {
  color: #2d759f;
}
